[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = {version = ">= 2.10.1"}
flask = "*"
pika = "*"
pymongo = "*"
flask-cors = "*"
pymongo-schema = {file = "https://github.com/pajachiet/pymongo-schema/archive/0dd312c23f5d38fb7c1a1f3bbe977e79a814a119.zip"}
v = "*"
flask-jwt-extended = "*"
dnspython = "*"
jsonschema = "*"
broccoli-plugin-interface = {editable = true,path = "./../broccoli-plugin-interface"}
apscheduler = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
